@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
  --color-brand-primary: #79d7f0;
  --color-brand-secondary: #92dff3;
  --color-brand-light: #b8e9f7;
  --color-brand-lighter: #dbf4fb;
  --color-brand-bg: #f4fcff;
  --font-sans: 'Poppins', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4fcff;
}
